{% extends "base.html" %}

{% block title %}
    <title> Added </title>
{% endblock %}
{% block content %}
    <div>
        <h1 class="text-center"><h1 class="text-center">
            <div class="p-3 mb-2 bg-info text-black">Update and/or Delete Item</div>
        </h1></h1>
        <h4>&nbsp;
            <div class="badge bg-warning text-black" style="width: 10rem;">
                          Add new item
                        </div>
        </h4>
        &nbsp;<a href="/create-an-item" class="btn btn-primary">Add</a>
        &nbsp;<a href="/" class="btn btn-primary">Cancel</a>
    </div>
{% endblock %}
