{% extends 'base.html' %}

{% block title %}
    <title>Delete item</title>
{%endblock%}

{% block content %}
    <div class="table table-dark table-sm">
        <h3>Delete Item</h3>
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
                <a class="btn btn-primary" href="/login" role="button">Login</a>
            </div>
        {% endfor %}
        <table class="table">
          <thead>
            <tr>
                <th scope="col">SN</th>
              <th scope="col">Item ID</th>
              <th scope="col">Title</th>
              <th scope="col">Item Type</th>
              <th scope="col">Date Posted</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{item.id}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.item_type}}</td>
                  <td>{{item.creation_date}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.category}}</td>
                  <td><button type="button" class="btn btn-danger">Delete</td>
                </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
{%endblock%}