{% extends 'base.html' %}
{% block title %}
    <title class="text-center">
      Request Item
    </title>
{% endblock %}

{% block content %}


    <div class="container">
		<h1>Item Detail</h1>
		<table class="table">
		  <tbody>
   			 <tr>
     			 <th scope="row">Title</th>
    		</tr>
    		<tr>
      			<th scope="row">Description</th>
    		</tr>
    		<tr>
      			<th scope="row">Date Posted</th>
    		</tr>
			<tr>
				<th scope="row">Owner</th>
			</tr>

		  </tbody>
	    </table>
		<form method="post">
				<button type="submit" class="btn btn-primary">Send Request</button>
		</form>
	</div>

{% endblock %}