{% extends 'base.html' %}
{% block title %}
    <title class="text-center">
      Request Item
    </title>
{% endblock %}

{% block content %}
	<head>
    <style>
      body {
        background: url('/static/images/background.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>

    <div class="container">
		<h1 class="text-center">Item Detail</h1>
		<table class="table">
		  <tbody>
   			 <tr>
     			 <th scope="row">Title</th>
    		</tr>
    		<tr>
      			<th scope="row">Description</th>
    		</tr>
    		<tr>
      			<th scope="row">Date Posted</th>
    		</tr>
			<tr>
				<th scope="row">Owner</th>
			</tr>

		  </tbody>
	    </table>
		<form method="post">
				<button type="submit" class="btn btn-primary">Send Request</button>
				<a href="/" class="btn btn-primary">Cancel</a>
		</form>

	</div>

{% endblock %}