{% extends 'base.html' %}
{% block title %}
    <title>
      Request Item
    </title>
{% endblock %}

{% block content %}
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Dropdown button
	  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			{% for item in items %}
				<li><a class="dropdown-item" href="#">
					{% with citem = item %}
						{% include 'card.html' %}
					{% endwith %}
				</a></li>
		  	{% endfor %}
		  </ul>
	</div>

    <div class="container">
		<h1>Item Detail</h1>
		<table class="table">
		  <tbody>
   			 <tr>
     			 <th scope="row">Title</th>
    		</tr>
    		<tr>
      			<th scope="row">Description</th>
    		</tr>
    		<tr>
      			<th scope="row">Date Posted</th>
    		</tr>
			<tr>
				<th scope="row">Owner</th>
			</tr>

		  </tbody>
	    </table>
		<form method="post">
				<button type="submit" class="btn btn-primary">Send Request</button>
		</form>
	</div>

{% endblock %}