{% extends 'base.html' %}

{% block title %}
    <title>
        Update Item
    </title>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Update an Item</h1>
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
                <!-- displays the error we provided in items.py -->
            </div>
        {% endfor %}
        <form method="post">
          <div class="mb-3">
            <label for="title" class="form-label">Item Title</label>
            <input type="text" class="form-control" name="title" required placeholder="Enter Item Title">
                <!-- required is used -->
          </div>
          <div class="mb-3">
            <label for="item_type" class="form-label">Item Type</label>
            <input type="text" class="form-control" name="item_type" required placeholder="Enter Item Type">
                <!-- required is used -->
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Item Category</label>
            <input type="text" class="form-control" name="category" required placeholder="Enter Item Category">
                <!-- required is used -->
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Item Quantity</label>
            <input type="number" class="form-control" name="quantity" required placeholder="Enter Item Quantity">
                <!-- required is used -->
          </div>

          <div class="form-text">Enter item's description,in details</div>
          <button type="submit" class="btn btn-primary">update</button>
        </form>
    </div>
{% endblock %}